
.cards {
      color: rgb(184, 199, 213);
      }

      .button{
            --tw-bg-opacity: 1;
            background-color: rgb(100 116 139 / var(--tw-bg-opacity))
      }
      .button:hover {
            color: rgb(225, 211, 211);
            background-color: rgb(12, 98, 226)}

       
            
      
